.picture {
  list-style: none;
  flex-basis: calc((100% - 100px) / 4);
}

.searchbar {
  background-color: rgb(0, 64, 154);
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#root {
  width: 100%;
}

.input {
  border: none;
  border-radius: 5px;
  width: 400px;
  padding-left: 15px;
}

.pictures {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  padding-top: 5%;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.loadingBtn {
  background-color: rgb(0, 64, 154);
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
